article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px; }

body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../dev/styles/images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.wrapper {
  margin: 0 auto;
  max-width: 1000px; }

.hold-form {
  margin-top: 10px;
  border: 2px solid black;
  margin-bottom: 50px; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px; }
  header h1 {
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 10px; }
  header h2 {
    font-size: 2.5rem; }

.button-sign {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  .button-sign button:first-of-type {
    margin-right: 20px; }
  .button-sign button:nth-of-type(2) {
    margin-left: 20px; }
  .button-sign button {
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem; }

.personal-info .personal-info-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.personal-info .personal-info-top div {
  margin: 0 0 30px 0;
  width: 38%; }

.personal-info label {
  margin-right: 50px;
  font-size: 1.5rem;
  font-weight: 700; }

.personal-info input, .personal-info select {
  padding: 3px 20px 3px 5px;
  font-size: 1.2rem; }

.personal-info input[type=submit] {
  margin-left: 140px;
  margin-top: 40px; }

.personal-info #name {
  margin-left: 6px; }

.personal-info #age {
  margin-left: 20px; }

.personal-info #height {
  margin-left: 2px; }

.personal-info #exercise {
  margin-left: -8px; }

.personal-info input[type="submit"] {
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: 500; }

.personal-info h2:nth-of-type(2) {
  font-weight: 400;
  line-height: 2.5rem; }

.personal-info-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .personal-info-bottom h2:first-of-type {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2rem; }
  .personal-info-bottom h2:nth-of-type(2) {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 1.5rem; }
  .personal-info-bottom span {
    color: red;
    font-size: 3rem;
    padding-left: 5px; }

.days-of-week {
  display: flex; }
  .days-of-week div {
    width: calc(100% / 7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    min-height: 300px; }
  .days-of-week #Monday:active, .days-of-week #Tuesday:active, .days-of-week #Wednesday:active, .days-of-week #Thursday:active, .days-of-week #Friday:active, .days-of-week #Saturday:active, .days-of-week #Sunday:active {
    border: 1px solid red; }
    .days-of-week #Monday:active h3, .days-of-week #Tuesday:active h3, .days-of-week #Wednesday:active h3, .days-of-week #Thursday:active h3, .days-of-week #Friday:active h3, .days-of-week #Saturday:active h3, .days-of-week #Sunday:active h3 {
      color: red;
      border-bottom: 1px solid red; }
  .days-of-week h3 {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    width: 100%;
    border-bottom: 1px solid black; }
  .days-of-week h4 {
    font-size: 1.5rem; }
  .days-of-week ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0; }
  .days-of-week li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 10px;
    font-size: 1.2rem; }
    .days-of-week li button {
      margin-left: 10px; }

.calorie-input {
  display: flex;
  justify-content: center; }
  .calorie-input form {
    margin-top: 50px; }
  .calorie-input label {
    margin-right: 30px;
    font-size: 1.5rem;
    font-weight: 700; }
  .calorie-input input {
    padding: 3px 20px 3px 5px;
    font-size: 1.2rem;
    margin-right: 20px; }
  .calorie-input button {
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 47px 0 50px 20px; }
